@model MovieRecommendationSystem.Models.Rating

@{
    ViewData["Title"] = "???????? ??????";
}

<h1>???????? ??????</h1>

<h3>?? ????????, ?? ?????? ???????? ?? ???????</h3>

<div>
    <h4>??????</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            ??????????
        </dt>
        <dd class="col-sm-10">
            @(Model.User != null ? Model.User.Name : "????????")
        </dd>

        <dt class="col-sm-2">
            ????? / ??????
        </dt>
        <dd class="col-sm-10">
            @(Model.Movie != null ? Model.Movie.Title : "????????")
        </dd>

        <dt class="col-sm-2">
            ??????
        </dt>
        <dd class="col-sm-10">
            @Model.Score
        </dd>
    </dl>

    <form asp-action="Delete" method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="????????" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-outline-light">????? ?? ??????</a>
    </form>
</div>